<div class="container form-container" *ngIf="!completed">
  <form name="form" (ngSubmit)="submit(f)" #f="ngForm">
    <div class="row">
      <div class="col-md-12 justify-content-end">

        <div *ngFor="let field of form; index as i">
          <div class="container-fluid" [ngSwitch]="field.type">

            <div *ngSwitchCase="'0'" class="row">
              <div class="col-md-2">{{field.label}}: </div>
              <div class="col-md-8">
                <div class="input-group mb-1">
                  <input type="text" name="text" class="form-control" required [(ngModel)]="field.value" #text="ngModel" [ngClass]="{ 'invalid': f.submitted && text.invalid }">
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'1'" class="row">
              <div class="col-md-2">{{field.label}}: </div>
              <div class="col-md-8">
                <div class="input-group mb-1">
                  <input type="text" name="number" class="form-control" required [(ngModel)]="field.value" #number="ngModel" [ngClass]="{ 'invalid': f.submitted && number.invalid }">
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'2'" class="row">
              <div class="col-md-2">{{field.label}}: </div>
              <div class="col-md-8">
                <div class="input-group mb-1">
                  <input type="email" email name="email" class="form-control" required [(ngModel)]="field.value" #email="ngModel" [ngClass]="{ 'invalid': f.submitted && email.invalid }">
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'3'" class="row">
              <div class="col-md-2">{{field.label}}: </div>
              <div class="col-md-8">
                <div class="input-group mb-1">
                  <input class="form-control"
                         name="dp" [(ngModel)]="field.value" ngbDatepicker #d="ngbDatepicker" [minDate]="minDate"
                         [maxDate]="currentDate" readonly required #dp="ngModel" [ngClass]="{ 'invalid': f.submitted && dp.invalid }">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'4'" class="row">
              <div class="col-md-2">{{field.label}}: </div>
              <div class="col-md-8">
                <div class="input-group mb-1">
                  <input type="tel" name="phone" class="form-control" [(ngModel)]="field.value" required #phone="ngModel" [ngClass]="{ 'invalid': f.submitted && phone.invalid }" [textMask]="{mask: phoneMask}">
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'5'" class="row">
              <div class="col-md-2">{{field.label}}: </div>
              <div class="col-md-8">
                <div class="input-group mb-1">
                  <input type="text" name="city" class="form-control" [(ngModel)]="field.value" required [ngbTypeahead]="search" #city="ngModel" [ngClass]="{ 'invalid': f.submitted && city.invalid }"/>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-end">
        <div class="col-md-4">
          <button type="submit" class="btn btn-outline-info align">Enviar</button>
        </div>
      </div>
    </div>
  </form>
</div>


<app-modal #modal [errors]="[]" [valid]="getFormValidity()"></app-modal>

<div *ngIf="completed">
  <app-form-success [form]="form"></app-form-success>
</div>

